@import 'utils';
@import 'config';


.note {
    .note-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color-main;
        padding: 10px;
      
        h3 {
            display: flex;
            align-items: center;
            font-size: 24px;
            cursor: pointer;
        }
        h3 svg {
            fill: $color-main;
            width: 20px;
            margin-right: 8px;
        }
        button {
            border: none;
            outline: none;
            font-weight: 600;
            background-color: transparent;
            font-size: 18px;
            cursor: pointer;
        }
    }
    textarea {
        background-color: $color-white;
        border: none;
        padding: 16px 12px;
        width: 100%;
        height: 70vh;
        resize: none;
        scrollbar-width: none; /* Firefox */
        
        &:active,
        &:focus {
            outline: none;
            border: none;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}