@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');


$color-main: rgb(0, 174, 255);
$color-text: #d6d1d1;
$color-dark: #f5f6f7;
$color-gray: #999;
$color-bg: #1f2124;
$color-light: #acb4bd;
$color-lighter: #292a2c;
$color-white: #2e3235;
$color-border:#252629;
